# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/__pycache__
# next.js
/.next/
/out/
/energy
# production
/build
/env
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/V1
/V0
# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts